.question {
  padding: 0 0;
  background-color: rgb(95, 129, 160);
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.267);
}

.answer {
  padding: 1rem 1rem;
  background-color: cadetblue;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  transform: translateY(-1rem);
}
.answer p {
  font-family: sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 3rem;
}
.question h3 {
  text-align: center;
  font-size: 3.5rem;
  font-family: sans-serif;
  font-weight: 800;
  color: #000;
  letter-spacing: 3px;
}
